
.carousel {
  max-width: 600px; 
  margin: 0 auto; 
}


.carousel-item {
  max-height: 350px; 
}


.carousel-item img {
  width: 100%;
  height: auto; 
  max-height: 100%; 
  object-fit: cover; }


.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  position: absolute;
  bottom: 0; 
  left: 0;
  right: 0;
  padding: 20px;
}


@media (max-width: 767px) {
  .carousel-item {
    max-height: 200px; 
  }
}
